//Here you can customize bootstrap
$primary: #c6c6c6;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Overpass+Mono:wght@300&display=swap');

:root {
  --bg-primary: #c6c6c6;
  --nav-link-color-active: #ff530f;
  --tx-color-title: #707070;
  --tx-color-primary: #808080;
  --bs-navbar-brand-color: #323232;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Cutive Mono', monospace;
}

.container {
  padding: 0 3rem;
}

.nav {
  position: fixed;
}

.nav-link {
  padding: 0;
}

a.nav-link {
  color: var(--bs-navbar-brand-color);
}

.navbar-nav .nav-link.active {
  color: var(--nav-link-color-active);
}

.color-title {
  color: var(--tx-color-title);
  font-family: 'Overpass Mono', monospace;
}

.color-text {
  color: var(--tx-color-primary);
}


@media (max-width: 64rem) {
  section {
    min-height: 100vh;
  }
  .container {
    padding: 0;

    .page-text {
      padding: 0 3rem;
    }
  }

  .header-nav {
    .nav {
      font-size: 1.2rem;
      margin-top: 3rem;
    }
  }
}