//Here you can customize bootstrap
$primary: #c6c6c6;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

:root {
  --bg-primary: #c6c6c6;
  --nav-link-color-active: #ffffff;
  --tx-color-title: #323232;
  --tx-color-primary: #707070;
  --bs-navbar-brand-color: #ffffff8d;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Apercu Mono', 'Baskervville',  serif;
  font-size: 10px;
  line-height: 0.9rem;
}

.container-parent {
  position: relative !important;
  z-index: -20;
}

.container-fluid {
  width: 30vw!important;
  min-height: 100vh;
  padding-top: 5rem !important;
  padding-bottom: 7rem !important;
  overflow-y: scroll;
  margin: auto 0!important;
  -ms-overflow-style: none; // hide scroll for  IE(Internet Explorer)・Microsoft Edge
  scrollbar-width: none; // hide scroll for Firefox

  display: flex;
  align-items: center;
}

.container-fluid::-webkit-scrollbar{ // hide scroll for Google Chrome、Safari
  display: none;
}

.nav-link {
  padding: 0;
}

a.nav-link {
  color: var(--bs-navbar-brand-color);
}

.navbar-nav .nav-link.active {
  color: var(--nav-link-color-active);
}

.color-title {
  color: var(--tx-color-title);
}

.color-text {
  color: var(--tx-color-primary);
}

.text-braille {
  font-family: 'Braille Normal';
}

.nav {
  padding: 5rem;
}

.slide-image {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: inline-block;
  white-space: nowrap;
  z-index: -10;
  overflow-x: scroll;
  -ms-overflow-style: none; // hide scroll for IE(Internet Explorer)・Microsoft Edge
  scrollbar-width: none; // hide scroll for Firefox

  .slide-empty-box {
    height: 60vh!important;
    width: 30vw!important;
    display: inline-block;
  }

  img {
    height: 60vh!important;
    display: inline-block;
    padding: 0 1.5rem!important;
  }
}

.slide-image::-webkit-scrollbar{ // hide scroll for Google Chrome、Safari
display: none;
}

@media (max-width: 64rem) {
  section {
    min-height: 100vh;
  }

  .container-fluid {
    display: block;
    width: 100vw!important;
    padding: 1.5rem!important;
  }

  .slide-image {
    position: initial;
    padding: 1.5rem 0!important;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;

    .slide-empty-box {
      display: none;
    }
  
    img {
      height: 40vh!important;
      padding: 0 1rem!important;
      width: auto;
    }
  }

  .color-text {
    padding: 2rem 0!important;
  }

  .header-nav {
    .nav {
      padding: 3rem;
    }
  }
}